:root{
  --bg: #f4f7fb;
  --card: #ffffff;
  --accent: #0093E9;
  --muted: #6b7280;
}

html,body,#root{
  height:100%;
  margin:0;
  font-family: Inter, "Segoe UI", Roboto, "Helvetica Neue", Arial;
  background: var(--bg);
  color: #111827;
}

a{ color: inherit; text-decoration: none; }
